<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 
		<jsp:useBean id="user" class="member.MemberDTO"></jsp:useBean>
	 -->
	
	
	<bean id="hello" class="test2.Hello">
		<property name="text" value="Hello. Spring"/>
	</bean>
	
</beans>